body {

    .admin-home-links {
        display: flex;
        flex-wrap: wrap;
	justify-content: center;
        align-items: center;
	div {
 	    flex-grow: 0;
            a {
                display: block;
                text-align: center;
                padding: .5rem;
                height: 120px;
                width: 120px;
                color: #fff;
                margin: .5rem;
                background: var(--header-bg-color);
                border: solid 2px var(--header-bg-color);
                &:hover {
                    background: var(--borders-color-lighten);
                }
	    }
        }
    }

    .admin-filter {
        label {
            width: auto;
            display: inline-block;
            background: none !important;
            margin: 0 1rem;
            padding: 0;
            input {
                width: auto;
            }
        }
    }

    .admin-paging {
        display: flex;
        .row_count {
            flex-grow: 0;
        }
        .paging {
            flex-grow: 1;
        }
        .total {
            flex-grow: 0;
        }

    }

    .admin-table {
        width: 100%;
        background: var(--header-bg-color);
        thead {
            tr {
                th {

                }
            }
        }
        tbody {
            tr {
                td {
                    background: var(--body-bg-color);
                }
                &:hover {
                    td {
                        background: var(--borders-color);
                    }
                }
            }
        }
        tfoot {
            tr {
                th {
                    label {
                        width: auto;
                        display: inline-block;
                        background: none !important;
                        margin: 0 1rem;
                        padding: 0;
                        select {
                            width: auto;
                        }
                    }
                    .btn-ph {
                        display: inline-block;
                        width: 3rem;
                    }
                }
            }
        }

        thead,tbody,tfoot {
            tr {
                th,
                td {
                    padding: .25rem .5rem;
                    vertical-align: top;
                    &.min-width {
                        white-space: nowrap;
                        width: 1%;
                    }
                    &.vert-middle {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
