body {
    .edit-form {
        h3 {
            margin: -.5rem 0 .5rem 0;
        }
        .flex-body {
            display: flex;
            fieldset {
                flex-grow: 1;
            }
        }
    }
}