body {

    table {
        border-spacing: 0;
        border-collapse: separate;
        tbody, thead, tfoot {
            tr {
                td, th {
                    vertical-align: top;
                }
            }
        }
    }

    .edit-table {
        background: #222;
        width: 100%;
        background-color: var(--content-box-bg);
        border-right: solid 2px var(--borders-color);
        border-top: solid 2px var(--borders-color);
        > thead {
            > tr {
                > th {
                    background-color: var(--borders-color-lighten);
                    border-left: solid 2px var(--borders-color);
                    border-bottom: solid 2px var(--borders-color);
                    color: #fff;
                    padding: .125rem .5rem;
                    &.min-width {
                        width: 1%;
                    }
                }
            }
        }
        > tbody {
            > tr{
                > td {
                    padding: .125rem .5rem;
                    border-left: solid 2px var(--borders-color);
                    border-bottom: solid 2px var(--borders-color);
                    &.min-width {
                        width: 1%;
                    }
                }
                > th {
                    border-left: solid 2px var(--borders-color);
                    border-bottom: solid 2px var(--borders-color);
                    // background: #666;
                    // color: #fff;
                    padding: .125rem .5rem;
                    &.min-width {
                        width: 1%;
                    }
                }
            }
            &:hover {
                td, tr {
                    background-color: var(--table-td-hover-bg);
                }
            }
        }
        &.alternating {
            tbody {
                &:nth-child(odd) {
                    tr{
                        td {
                            // background: #ccc;
                        }

                    }
                    &:hover {
                        td {
                            // background: #ddd;
                        }
                    }
                }
            }
        }
    }
}