body {

    .saves-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .save-card {
            position: relative;
            text-align: center;
            width: 175px;
            height: 175px;
            margin: .5rem;
            display: inline-block;
            // overflow: hidden;
            // cursor: pointer;
            border-radius: .5rem;
            border: solid 2px #888;
            background-size: cover;
            overflow: hidden;

            // .window-tinting {
            //     position: absolute;
            //     z-index: 0;
            //     top: 0;
            //     left: 0;
            //     height: 280px;
            //     width: 280px;

            // }
            .text {
                font-size: .6rem;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 10;
                height: 175px;
                width: 175px;
                // border-radius: .5rem;
                padding: 10% 10px 0 10px;
                background: rgba(0,0,0,.6);
                overflow: hidden;

                h3 {
                    font-size: 1.1rem;
                    font-weight: 500;
                    margin: 0;
                }
                hr {
                    padding: 0;
                    margin: .125rem 0;
                    height: 0;
                    border: none;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                    border-bottom: solid 1px #eef;
                }
            }

            .controls {
                position: absolute;
                bottom: -42px;
                height: 0;
                background: #000;
                transition: bottom .5s;
                transition: height .5s;
                width: 100%;
                z-index: 11;
                overflow: hidden;

            }

            &:hover     {
                .text {
                    background: rgba(0,0,0,.4);
                }
                .controls {
                    bottom: 0;
                    height: 126px;
                }
            }
        }
    }

}