body {

    .saves-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .save-card {
            position: relative;
            text-align: center;
            width: 175px;
            height: 175px;
            margin: .5rem;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;
            border-radius: .5rem;
            border: solid 2px #888;
            background-size: cover;

            // .window-tinting {
            //     position: absolute;
            //     z-index: 0;
            //     top: 0;
            //     left: 0;
            //     height: 280px;
            //     width: 280px;

            // }
            .text {
                font-size: .6rem;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 10;
                height: 175px;
                width: 175px;
                padding: 70px 10px 0 10px;
                background: rgba(0,0,0,.6);
            }

            &:hover {
                .text {
                    background: rgba(0,0,0,.4);
                }
            }
        }
    }

}