body {

    .saves-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .folder {
            position: relative;
            text-align: center;
            width: 175px;
            height: 175px;
            margin: .5rem;

            overflow: hidden;
            .folder-base {
                width: 175px;
                height: 155px;
                // margin: .5rem;
                border-radius: .5rem;
                // border: solid 2px var(--borders-color);
                padding: 15% 0 0 0;
                background: var(--borders-color);
                overflow: hidden;
                position: absolute;
                bottom: 0;
                cursor: pointer;
                &.folder-up {
                    padding: 7% 0 0 0;

                    font-size: .8rem;
                    i {
                        font-size: 3.5rem;
                        margin-bottom: 1rem;
                    }
                }
                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1rem;
                    margin: 0;
                }
            }

            .folder-nip {
                cursor: pointer;
                width: 75px;
                height: 30px;
                // margin: .5rem;
                border-radius: .5rem;
                // border: solid 2px var(--borders-color);
                background: var(--borders-color);
                overflow: hidden;
                position: absolute;
                top: 0;
                padding: 2px 0 0 0;
                text-align: center;
                font-size: .8rem;
            }

            .controls {
                position: absolute;
                bottom: -42px;
                height: 0;
                background: #000;
                transition: bottom .2s;
                transition: height .2s;
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
                width: 100%;
                z-index: 11;
                overflow: hidden;
                .btn {
                    margin: .25rem;
                }
            }

            &:hover {
                .folder-nip,
                .folder-base {
                    background: var(--borders-color-lighten);
                }
                .controls {
                    bottom: 0;
                    height: 40px;
                }
            }

        }
        .save-card {
            position: relative;
            text-align: center;
            width: 175px;
            height: 175px;
            margin: .5rem;
            display: inline-block;
            // overflow: hidden;
            // cursor: pointer;
            border-radius: .5rem;
            border: solid 2px var(--borders-color);
            background-size: cover;
            overflow: hidden;

            // .window-tinting {
            //     position: absolute;
            //     z-index: 0;
            //     top: 0;
            //     left: 0;
            //     height: 280px;
            //     width: 280px;

            // }
            .text {
                font-size: .6rem;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 10;
                height: 175px;
                width: 175px;
                // border-radius: .5rem;
                padding: 0 10px;
                background: rgba(0,0,0,.6);
                overflow: hidden;

                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                    margin: 0;
                }
                hr {
                    padding: 0;
                    margin: .125rem 0;
                    height: 0;
                    border: none;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                    border-bottom: solid 1px #eef;
                }
            }

            .controls {
                position: absolute;
                bottom: -42px;
                height: 0;
                background: #000;
                transition: bottom .5s;
                transition: height .5s;
                width: 100%;
                z-index: 11;
                overflow: hidden;
                .btn {
                    margin: .25rem;
                }
            }

            &:hover     {
                .text {
                    background: rgba(0,0,0,.4);
                }
                .controls {
                    bottom: 0;
                    height: 126px;
                }
            }
        }
    }

}