body {
    .position-relative {
        position: relative;
    }

    .pull-right {
        float: right;
    }

    .flex {
        display: flex;
    }

    .text-header {
        border-bottom: solid 2px var(--body-font-color);
        max-width: 800px;
        margin: auto;
        text-align: center;
    }
    .no-margins {
        margin: 0;
    }
    .flex-grow,
    .flex-grow-1 {
        flex-grow: 1;
    }
    .flex-grow-0 {
        flex-grow: 0;
    }

    .pull-left {
        float: left;
    }

    .full-width {
        width: 100%;
    }

    .abs-right {
        position: absolute;
        right: 0;
    }
    .abs-left {
        position: absolute;
        left: 0;
    }
    .no-wrap {
        white-space: nowrap;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .small-text {
        font-size: .7rem;
    }

    .inline {
        display: inline;
    }

    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }

    .width-50-perc {
        display: inline-block;
        width: 50%;
    }
    .text-right {
        text-align: right;
    }

    .color-green {
        color: #198754;
    }

    .color-red {
        color: #dc3545;
    }
    .color-orange {
        color: #ffc107;
    }
}